<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <link rel="stylesheet" href="css/icon-font.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title>90's Year - Outlet</title>
    </head>
    <body>
        <header class="header">
            <div class="header__text-box">
                <h1 class="heading-primary">
                        <span class="heading-primary--main">90's Outlet</span>
                        <span class="heading-primary--sub">A melhor outlet alternativa do brasil</span>
                </h1>
                <a href="/products" class="btn btn--white btn--animated">Conheça nossos produtos</a>
            </div>
        </header>   
    </body>
</html>
